html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 0.6fr;
    text-align: center;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
}

ul li {
    list-style-type: none;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar {
    background-color: #9891f0;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

ul {
    display: grid;
    grid-column: 1 / 2;
    grid-template-rows: repeat(10, 35px);
    gap: 25px;
    margin: 30px 40px;

}

input {
    border-radius: 20px;
    height: 30px;
    border: none;
    background-color: rgb(215, 219, 223);
}

input:hover {
    border: solid 3px  blue;
}

.nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 5;
    align-items: center;
    box-shadow: 2px 4px 3px  lightgrey;
    position: relative;
    padding: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
    background: rgb(176, 177, 219);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.menu  {
    display: grid;
    grid-column: 2 / 5;
    grid-template-columns: 1fr 1fr 0.8fr 0.8fr;
    background-color: #e7e7e7;
}

h2 {
    font-weight: 700; 
    font-size: 1.2rem;
}

.title {
    font-weight: 600; 
    font-size: 1rem;
    text-align: center;

}


.card {
    background-color: white;
    border-radius: 10px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 4px 13px 5px lightgrey;
    border-left: 10px solid gold;
    width: 80%;
}

.ftr {
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 4px 13px 5px lightgrey;
    height: 60%;
}

p {
    font-size: small;
}

.projects {
    display: grid;
    grid-column: 1/ 4;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
    background-color: #e7e7e7;
    align-content: center;
  }

  .title .card {
    text-align: center;
  }
  
  .first {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto 0.5fr;
    grid-auto-flow: column;
  }

  .second {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    gap: 30px;
  }
  
  .other {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 1 / 5;
  }
  
  .announcements {
    display: flex;
    flex-direction: column;
  }

  .sidebar ul li img {
    height: 35px;
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg) brightness(103%) contrast(101%);
    }

  .Dashboard {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;

    } 

    .Dashboard img {
    height: 45px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg) brightness(103%) contrast(101%);
    }

    .Dashboard h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 10px;
    }

    .first img {
        height: 30px;
    }

    .second img {
        height: 45px;
    }